<div class="container-fluid" style="height: 100vh;">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div class="header mb-5">
    <div class="brand d-flex align-items-center justify-content-start">
      <div class="logo"></div>
      <h3>Provision App</h3>
    </div>
    <p style="font-size:large; font-weight: bold; margin: 0">{{ adminName }}</p>

    @if(adminRole === 'SuperAdmin') {
      <div class="menu">
        <a routerLink="/admin-dashboard">Home</a>
        <a routerLink="/my-requests">Requests</a>
        <a routerLink="/my-servers">Servers</a>
        <a routerLink="/users-list">Users</a>
        <a (click)="onLogout()" style="cursor: pointer">Logout</a>
      </div>
    }

  </div>

  @if(adminRole !== '') {

    <h3>Users list</h3>
    <div class="d-flex justify-content-between align-items-center my-4">
      <div class="top-table">
        <input type="search" placeholder="Find user.." class="me-3" [(ngModel)]="searchQuery" (input)="onSearch()" />
        <div class="button" (click)="onSearch()">
          Search
          <i class="fa-solid fa-magnifying-glass ms-1"></i>
        </div>
      </div>
      @if(adminRole === "SuperAdmin") {
        <div class="button" routerLink="/create-user">
          Create User
          <i class="fa fa-user ms-2"></i>
        </div>
      }
    </div>

    <div class="table-container" #tableContainer style="height: 491px; overflow-y: scroll;">
      <table>
        <thead>
          <tr>
            <th>#</th> <!-- Index Column -->
            <th (click)="sortTable('name')">
              Name
              <i class="fa fa-sort" *ngIf="sortColumn === 'name'"></i>
            </th>
            <th (click)="sortTable('role')">
              Role
            </th>
            <th (click)="sortTable('matricule')">
              Matricule
            </th>
            <th (click)="sortTable('email')">
              Email
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (item of users; track item) {
            <tr [ngClass]="{ 'blue-row': users.indexOf(item) % 2 === 0, 'red-row': users.indexOf(item) % 2 !== 0 }">
              <td>{{ users.indexOf(item) + 1 }}</td>
              <td>{{ item.fullName }}</td>
              <td [ngClass]="{
                'role-ordinary-user': item.role === '',
                'role-network-admin': item.role === 'NetworkAdmin',
                'role-general-spec-admin': item.role === 'GeneralSpecAdmin',
                'role-super-admin': item.role === 'SuperAdmin'
              }">
            {{ item.role === '' ? "Ordinary User" : item.role }}
          </td>
              <td>{{ item.matricule }}</td>
              <td>{{ item.email }}</td>
              <td>
                <i class="fa-solid fa-arrow-up-right-from-square me-3" [routerLink]="['/user-details', item._id]"></i>
              </td>
            </tr>
          }

        </tbody>
      </table>
      @if (showBackToTopButton) {
        <button (click)="scrollToTop()" class="back-to-top">
          <i class="fa fa-chevron-up" style="font-size:30px"></i>
        </button>
      }
    </div>
  }
  @if(adminRole !== 'SuperAdmin') {
    <div class="container-fluid" style="display:flex; align-items: center; justify-content: center; width: 300px; height: fit-content; background-color: rgba(255, 0, 0, 0.858); margin-top: 230px;">
      <p>Access Denied. This page is restricted to Super Admins only. If you believe you should have access, please contact your administrator.</p>
    </div>
  }
</div>



