<div class="container-fluid" style="height: max(100%, 100vh)">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div class="header mb-5">
    <div class="brand d-flex align-items-center justify-content-start">
      <div class="logo"></div>
      <h3>Provision App</h3>
    </div>
    <p style="font-size:large; font-weight: bold; margin: 0">Mohamed Najjar</p>
    <div class="menu">
      @if(role === 'OrdinaryUser') {
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>My Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>My Servers</a>
        <a (click)="onLogout()"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      }
      @if(role === 'SuperAdmin') {
        <a routerLink="/admin-dashboard" class="me-3"><i class="fa fa-home me-2"></i>Home</a>
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>Servers</a>
        <a routerLink="/users-list" class="me-3"><i class="fa fa-users me-2"></i>Users</a>
        <a (click)="onLogout()" style="cursor: pointer"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      }
    </div>
  </div>

  <h3 class="mb-4">Create User</h3>
  <div class="form-container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-start">
            <label for="fullName" class="col-md-4">Full Name</label>
            <div class="col-md-8">
              <input type="text" id="fullName" formControlName="fullName" class="form-control" placeholder="Enter full name">
              <small *ngIf="userForm.controls['fullName'].invalid && (userForm.controls['fullName'].dirty || userForm.controls['fullName'].touched)" class="text-danger">Full Name is required.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-start">
            <label for="phoneNumber" class="col-md-4">Phone Number</label>
            <div class="col-md-8">
              <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="(+216) XXXXXXXX">
              <small *ngIf="userForm.controls['phoneNumber'].invalid && (userForm.controls['phoneNumber'].dirty || userForm.controls['phoneNumber'].touched)" class="text-danger">Must be 8 digits with prefix 216.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-start">
            <label for="email" class="col-md-4">Email</label>
            <div class="col-md-8">
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter email">
              <small *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)" class="text-danger">Valid Email is required.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-start">
            <label for="matricule" class="col-md-4">Matricule</label>
            <div class="col-md-8">
              <input type="text" id="matricule" formControlName="matricule" class="form-control" placeholder="Enter matricule">
              <small *ngIf="userForm.controls['matricule'].invalid && (userForm.controls['matricule'].dirty || userForm.controls['matricule'].touched)" class="text-danger">Matricule must be 6 digits.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-start">
            <label for="position" class="col-md-4">Position</label>
            <div class="col-md-8">
              <select id="position" formControlName="position" class="form-control" style="padding: 0 6px;">
                <option value="" disabled selected>Select a position</option>
                <option value="Developer">Developer</option>
                <option value="Tester">Tester</option>
                <option value="Manager">Manager</option>
                <option value="DevOps">DevOps</option>
                <option value="Support">Support</option>
              </select>
              <small *ngIf="userForm.controls['position'].invalid && (userForm.controls['position'].dirty || userForm.controls['position'].touched)" class="text-danger">Position is required.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-start">
            <label for="role" class="col-md-4">Role</label>
            <div class="col-md-8">
              <select id="roleSelect" formControlName="role" class="form-control" style="width: 100%; padding: 0 6px">
                <option value="">Select Role</option>
                <option value="GeneralSpecAdmin">General Spec Admin</option>
                <option value="NetworkAdmin">Network Admin</option>
                <option value="SuperAdmin">Super Admin</option>
                <option value="">Ordinary user</option>
              </select>
              <small *ngIf="userForm.controls['role'].invalid && (userForm.controls['role'].dirty || userForm.controls['role'].touched)" class="text-danger">Role is required.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-start">
            <label for="password" class="col-md-4">Password</label>
            <div class="col-md-8">
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="Create a strong password">
              <small *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="text-danger">
                Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, and one digit.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-start">
            <label for="confirmPassword" class="col-md-4">Confirm Password</label>
            <div class="col-md-8">
              <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm your password">
              <small *ngIf="userForm.controls['confirmPassword'].invalid && (userForm.controls['confirmPassword'].dirty || userForm.controls['confirmPassword'].touched)" class="text-danger">Passwords must match.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Create User</button>
        </div>
      </div>
    </form>
    <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
  </div>
</div>
