<div class="container-fluid" style="min-height: 100vh">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <div class="header mb-5">
    <div class="brand d-flex align-items-center justify-content-start">
      <div class="logo"></div>
      <h3>Provision App</h3>
    </div>
    <p style="font-size:large; font-weight: bold; margin: 0">{{userData.fullName}}</p>
    <div class="menu">
      @if(adminRole === '') {
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>My Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>My Servers</a>
        <a (click)="onLogout()"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      }
      @if(adminRole === 'SuperAdmin') {
        <a routerLink="/admin-dashboard" class="me-3"><i class="fa fa-home me-2"></i>Home</a>
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>Servers</a>
        <a routerLink="/users-list" class="me-3"><i class="fa fa-users me-2"></i>Users</a>
        <a (click)="onLogout()" style="cursor: pointer"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      }
    </div>
  </div>

  <h3 class="mb-4">Welcome {{ (userData.fullName || '').split(' ')[0] }} !</h3>

  @if (adminRole === "SuperAdmin") {
    <div class="widget-container">
      <div class="widget total-requests">
        <i class="fa fa-tachometer-alt fa-2x"></i>
        <div class="widget-content">
          <h4>Total Requests</h4>
          <p>{{filteredItems.length}} <span class="percentage">(100%)</span></p>
        </div>
      </div>
      <div class="widget approved-requests">
        <i class="fa fa-check-circle fa-2x"></i>
        <div class="widget-content">
          <h4>Approved Requests</h4>
          <p>
            {{ getApprovedCount() }} <span class="percentage">{{ getApprovedPercentage() }}%</span>
          </p>
        </div>
      </div>

      <div class="widget rejected-requests">
        <i class="fa fa-times-circle fa-2x"></i>
        <div class="widget-content">
          <h4>Rejected Requests</h4>
          <p>
            {{ getStatusCount('rejected') }} <span class="percentage">{{ getStatusPercentage('rejected') }}%</span>
          </p>
        </div>
      </div>
      <div class="widget pending-requests">
        <i class="fa fa-clock fa-2x"></i>
        <div class="widget-content">
          <h4>Pending Requests</h4>
          <p>
            {{ getStatusCount('pending') }} <span class="percentage">{{ getStatusPercentage('pending') }}%</span>
          </p>
        </div>
      </div>
      <div class="widget finished-requests">
        <i class="fa fa-tasks fa-2x"></i>
        <div class="widget-content">
          <h4>Requests Done</h4>
          <p>
            {{ getStatusCount('finished') }} <span class="percentage">{{ getStatusPercentage('finished') }}%</span>
          </p>
        </div>
      </div>
    </div>

    <!--**********************************************************-->
    <div class="activity-widgets">
        <div class="widget activity-widget">
          <h3>Users Activity logs</h3>
          @if(recentRequests.length === 0) {
            <div style="text-align: center; padding: 20px; margin-top: 40px">
              <i class="fa fa-info-circle" style="font-size: 2em; color: #999;"></i>
              <p style="color: #999; margin-top: 10px;">No recent user activities</p>
            </div>
          }
          @else {
            <div *ngFor="let request of recentRequests" class="activity-item" [routerLink]="['/request-details', request._id]">
              <i class="fa fa-user"></i>
              <div class="activity-text">
                <p>{{ request.fullName }}, holder of matricule {{ request.matricule }}, has requested a server on: {{ request.createdAt | date: 'dd/MM/yyyy - HH:mm:ss' }}</p>
              </div>
            </div>
          }

        </div>


      <div class="widget activity-widget">
        <h3>Admins Activity logs</h3>
        @if(recentServers.length === 0) {
          <div style="text-align: center; padding: 20px; margin-top: 40px">
            <i class="fa fa-info-circle" style="font-size: 2em; color: #999;"></i>
            <p style="color: #999; margin-top: 10px;">No recent admin activities</p>
          </div>
        }
        @else {
          <div *ngFor="let server of recentServers" class="activity-item" [routerLink]="['/server-details', server.id]">
            <i class="fa fa-shield-alt"></i>
            <div class="activity-text">
              <p>{{ server.adminName }} has created a new server "{{server.vmName}}" for {{server.requesterName}} on: {{ server.createdAt | date: 'dd/MM/yyyy - HH:mm:ss' }}</p>
            </div>
          </div>
        }

      </div>




    </div>
    <!--**********************************************************-->




    <div class="container-fluid container-test">
      <div class="matrix-widgets ">
        <div class="widget-other role-widget">
          <h3>Ordinary Users</h3>
          <div class="widget-content">
            <i class="fa fa-user"></i>
            <div class="widget-info">
              <p class="number">{{ getRoleCount('') }}</p>
              <p class="percentage">{{ getRolePercentage('') }}%</p>
            </div>
          </div>
        </div>

        <div class="widget-other role-widget">
          <h3>General Admins</h3>
          <div class="widget-content">
            <i class="fa fa-user-shield"></i>
            <div class="widget-info">
              <p class="number">{{ getRoleCount('GeneralSpecAdmin') }}</p>
              <p class="percentage">{{ getRolePercentage('GeneralSpecAdmin') }}%</p>
            </div>
          </div>
        </div>

        <div class="widget-other role-widget">
          <h3>Network Admins</h3>
          <div class="widget-content">
            <i class="fa fa-network-wired"></i>
            <div class="widget-info">
              <p class="number">{{ getRoleCount('NetworkAdmin') }}</p>
              <p class="percentage">{{ getRolePercentage('NetworkAdmin') }}%</p>
            </div>
          </div>
        </div>

        <div class="widget-other role-widget">
          <h3>Superadmins</h3>
          <div class="widget-content">
            <i class="fa fa-crown"></i>
            <div class="widget-info">
              <p class="number">{{ getRoleCount('SuperAdmin') }}</p>
              <p class="percentage">{{ getRolePercentage('SuperAdmin') }}%</p>
            </div>
          </div>
        </div>
      </div>


      <div class="active-servers-widget" style="background-color: #1C2D38;">
        <h3>Number of active servers per environment</h3>
        <div class="widget-grid">
          <div class="environment-widget">
            <i class="fa fa-server"></i>
            <div class="widget-content">
              <h4>Staging</h4>
              <p>{{ getServerCount('staging') }}</p>
            </div>
          </div>
          <div class="environment-widget">
            <i class="fa fa-cogs"></i>
            <div class="widget-content">
              <h4>Testing</h4>
              <p>{{ getServerCount('testing') }}</p>
            </div>
          </div>
          <div class="environment-widget">
            <i class="fa fa-code"></i>
            <div class="widget-content">
              <h4>Developing</h4>
              <p>{{ getServerCount('developing') }}</p>
            </div>
          </div>
          <div class="environment-widget">
            <i class="fa fa-rocket"></i>
            <div class="widget-content">
              <h4>Production</h4>
              <p>{{ getServerCount('production') }}</p>
            </div>
          </div>
        </div>

      </div>


    </div>
  }
  @else{
    <div class="container-fluid" style="display:flex; align-items: center; justify-content: center; width: 300px; height: fit-content; background-color: rgba(255, 0, 0, 0.858); margin-top: 180px;">
      <p>Access Denied. This page is restricted to Super Admins only. If you believe you should have access, please contact your administrator.</p>
    </div>
  }


</div>

