<div class="container-fluid" style="min-height: 100vh; background-color: #212529; color: #dcdcdc;">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Header Section -->
  <div class="header mb-5 d-flex align-items-center justify-content-between p-3" style="background-color: #212529; border-radius: 8px;">
    <div class="brand d-flex align-items-center">
      <div class="logo"></div>
      <h3 class="ms-3">Provision App</h3>
    </div>
    <div>
      <p class="text-center mb-1" style="font-size:large; font-weight: bold;">{{adminName}}</p>
    </div>
    <div class="menu">
      @if(adminRole === '') {
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>My Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>My Servers</a>
        <a (click)="onLogout()"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      }
      @if(adminRole === 'SuperAdmin') {
        <a routerLink="/admin-dashboard" class="me-3"><i class="fa fa-home me-2"></i>Home</a>
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>Servers</a>
        <a routerLink="/users-list" class="me-3"><i class="fa fa-users me-2"></i>Users</a>
        <a (click)="onLogout()" style="cursor: pointer"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      }
    </div>
  </div>

  <!-- Server Details Section -->
  <div class="content">
    <h3 class="mb-4"><i class="fa fa-info-circle me-2"></i>Server Details</h3>

    <!-- Admin Info Section -->
    <div class="row mb-4" style="border-bottom: 1px solid #3c3c3c; padding-bottom: 20px;">
      <div class="col-md-6">
        <h4><i class="fa fa-user me-2"></i>Admin Info</h4>
        <div class="ms-4">
          <p><i class="fa fa-user-shield me-2"></i><span>Server was Created by:</span> {{server?.adminName}}</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
          @if(adminRole === 'OrdinaryUser'){
            <button class="btn bg-danger text-light me-2" style="border-radius:0px" (click)="requestDelete(serverId)">Request server removal</button>
          }
          @if (showSuccessMessage) {
            <div style="font-size: 11px; width: 160px; color:rgb(172, 172, 193)">
              Successfully submitted removal request.
            </div>
          }
        </div>
      </div>
      <div class="col-md-6">
        <h4><i class="fa fa-user-tag me-2"></i>Dedicated to</h4>
        <div class="ms-4">
          <p><i class="fa fa-user me-2"></i><span>Requester name:</span> {{server?.requesterName}}</p>
          <p><i class="fa fa-id-card me-2"></i><span>Requester matricule:</span> {{server?.requesterMatricule}}</p>
        </div>
      </div>
    </div>

    <!-- Server Specifications Section -->
    <div class="row mb-4" style="border-bottom: 1px solid #3c3c3c; padding-bottom: 20px;">
      <div class="col-md-6">
        <h4><i class="fa fa-server me-2"></i>Server Specifications</h4>
        <div class="ms-4">
          <p><i class="fa fa-desktop me-2"></i><span>Virtual Machine:</span> {{server?.vmName}}</p>
          <p><i class="fa fa-cogs me-2"></i><span>Environment type:</span> <i style="margin-right: 6px;" [class]="'fa ' + getEnvironmentStyle(server?.environment_type).icon"
            [style.color]="getEnvironmentStyle(server?.environment_type).color"></i>
            <span [style.color]="getEnvironmentStyle(server?.environment_type).color">{{ server?.environment_type | titlecase }}</span></p>
          <p><i class="fa fa-clock me-2"></i><span>Time created:</span> {{formatDate(server?.createdAt)}}</p>
          <p><i class="fa fa-cogs me-2"></i><span>Operating system:</span> {{server?.operating_system}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <h4><i class="fa fa-cogs me-2"></i>Hardware Specifications</h4>
        <div class="ms-4">
          <p><i class="fa fa-memory me-2"></i><span>RAM:</span> {{server?.ram}}</p>
          <p><i class="fa fa-microchip me-2"></i><span>vCPUs:</span> {{server?.cpu}}</p>
          <p><i class="fa fa-hdd me-2"></i><span>Disk space:</span> {{server?.disk_space}} GB</p>
        </div>
      </div>
    </div>

    <!-- Networking Section -->
    <div class="row mb-4" style="border-bottom: 1px solid #3c3c3c; padding-bottom: 20px;">
      <div class="col-md-6">
        <h4><i class="fa fa-network-wired me-2"></i>Networking</h4>
        <div class="ms-4">
          <p><i class="fa fa-project-diagram me-2"></i><span>Subnet Mask:</span> {{server?.subnetMask}}</p>
          <p><i class="fa fa-signal me-2"></i><span>Private IP:</span> {{server?.privateIP}}</p>
          <p><i class="fa fa-route me-2"></i><span>Default Gateway:</span> {{server?.defaultGateway}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <h4><i class="fa fa-key me-2"></i>Credentials</h4>
        <div class="ms-4">
          <p><i class="fa fa-user me-2"></i><span>Username:</span> {{server?.username}}</p>
          <div class="d-flex align-items-center">
            <label><i class="fa fa-lock me-2"></i>Password:</label>
            <span [ngClass]="{'password-hidden': hidePassword, 'password-visible': !hidePassword}">
              {{ hidePassword ? getMaskedPassword() : server?.password }}
            </span>
            <i class="fa fa-eye me-3" (click)="togglePasswordVisibility()" style="cursor: pointer;"></i>
            <i class="fa fa-copy me-2" (click)="copyPassword()" style="cursor: pointer;"></i>
            <span class="ms-1" style="font-weight: 200" *ngIf="copySuccess">Password copied!</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
