<div class="container-fluid" style="height: max(100vh);">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div class="header mb-5">
    <div class="brand d-flex align-items-center justify-content-start">
      <div class="logo"></div>
      <h3>Provision App</h3>
    </div>
    <div style="display:flex; align-items: center; flex-direction: column;">
      <p class="text-center" style="font-size:large; font-weight: bold; margin: 0">{{ fullName }}</p>
    </div>
    @if(role === "OrdinaryUser"){
      <div class="menu">
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>Servers</a>
        <a (click)="onLogout()" style="cursor: pointer"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      </div>
    }
    @if(role === "GeneralSpecAdmin") {
      <div class="menu">
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>Requests</a>
        <a routerLink="/answered-requests">Answered requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>Servers</a>
        <a routerLink="/users-list" class="me-3"><i class="fa fa-users me-2"></i>Users</a>
        <a (click)="onLogout()">Logout</a>
      </div>
    }

    @if(role === 'SuperAdmin') {
      <div class="menu">
        <a routerLink="/admin-dashboard" class="me-3"><i class="fa fa-home me-2"></i>Home</a>
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>Servers</a>
        <a routerLink="/users-list" class="me-3"><i class="fa fa-users me-2"></i>Users</a>
        <a (click)="onLogout()" style="cursor: pointer"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      </div>
    }
    @if(role === "NetworkAdmin") {
      <div class="menu">
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>Servers</a>
        <a (click)="onLogout()" style="cursor: pointer"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      </div>
    }
  </div>

  @if(role === "OrdinaryUser") {
    <h3>My Requests</h3>
  }
  @if(role !== "OrdinaryUser") {
    <h3>Incoming Requests</h3>
  }
  <div class="d-flex justify-content-between align-items-center my-4">
    <div class="top-table">
      <input type="search" placeholder="Find request.." class="me-3" [(ngModel)]="searchQuery" (input)="onSearch()" />
      <div class="button">
        Search
        <i class="fa-solid fa-magnifying-glass ms-1"></i>
      </div>
    </div>

    @if(role === "OrdinaryUser") {
      <div class="button" routerLink="/new-request">
        Create Request
        <i class="fa fa-plus ms-1"></i>
      </div>
    }
  </div>

  <div class="table-container" #tableContainer style="height: 440px; overflow-y: scroll;">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th (click)="sortTable('vmName')">
            Name
            <i class="fa fa-sort" *ngIf="sortColumn === 'vmName'"></i>
          </th>
          <th (click)="sortTable('desired_start_date')">
            Desired start date
            <i class="fa fa-sort" *ngIf="sortColumn === 'desired_start_date'"></i>
          </th>
          <th (click)="sortTable('status')">
            Request created on
            <i class="fa fa-sort" *ngIf="sortColumn === 'status'"></i>
          </th>
          <th (click)="sortTable('status')">
            Status
            <i class="fa fa-sort" *ngIf="sortColumn === 'status'"></i>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of filteredItems; track item) {
          <tr [ngClass]="{ 'blue-row': filteredItems.indexOf(item) % 2 === 0, 'red-row': filteredItems.indexOf(item) % 2 !== 0 }">
            <td>{{ filteredItems.indexOf(item) + 1 }}</td>
            <td>{{ item.vmName }}</td>
            <td>{{ formatDate(item.desired_start_date) }}</td>
            <td>{{ formatDate(item.createdAt) }}</td>
            <td [ngClass]="getStatusBackgroundClass(item.status)">
              <i class="fa me-1" [ngClass]="getStatusIconClass(item.status)"></i>
              {{ (item.status==='approved' && role === "NetworkAdmin")?'Configuration Needed !':item.status }}
            </td>
            <td>
              <i class="fa-solid fa-arrow-up-right-from-square ms-4" [routerLink]="['/request-details', item._id]"></i>
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (showBackToTopButton) {
      <button (click)="scrollToTop()" class="back-to-top">
        <i class="fa fa-chevron-up" style="font-size:30px"></i>
      </button>
    }
  </div>
</div>
