<div class="container-fluid" style="min-height: 100vh">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div class="header mb-5">
    <div class="brand d-flex align-items-center justify-content-start">
      <div class="logo"></div>
      <h3>Provision App</h3>
    </div>
    <p style="font-size:large; font-weight: bold; margin: 0">{{userData.fullName}}</p>
    <div class="menu">
      @if(adminRole === '') {
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>My Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>My Servers</a>
        <a (click)="onLogout()"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      }
      @if(adminRole === 'SuperAdmin') {
        <a routerLink="/admin-dashboard" class="me-3"><i class="fa fa-home me-2"></i>Home</a>
        <a routerLink="/my-requests" class="me-3"><i class="fa fa-list-alt me-2"></i>Requests</a>
        <a routerLink="/my-servers" class="me-3"><i class="fa fa-server me-2"></i>Servers</a>
        <a routerLink="/users-list" class="me-3"><i class="fa fa-users me-2"></i>Users</a>
        <a (click)="onLogout()" style="cursor: pointer"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
      }
    </div>
  </div>

  <h3 class="mb-4">User Details</h3>

  <div>
    <div class="ms-4">
      <p><span>Full name:</span>{{user.fullName}}</p>
      <p><span>Email Address:</span>{{user.email}}</p>
      <p><span>Account creation date:</span>24/07/2024, 21:08 UTC</p>
      <p><span>Matricule:</span>{{user.matricule}}  </p>
      <p><span>Position:</span>{{user.position}}</p>
      <div class="d-flex align-items-center justify-content-start my-2">
        <p style="margin: 0">
          <span>Admin role:</span>
          <span
            [ngStyle]="{
              color: getRoleColor(user.role)
            }"
          >
            <i
              *ngIf="user.role !== ''"
              [ngClass]="{
                'fa-solid fa-network-wired': user.role === 'NetworkAdmin',
                'fa-solid fa-cogs': user.role === 'GeneralSpecAdmin',
                'fa-solid fa-user-shield': user.role === 'SuperAdmin'
              }"
              style="margin-right: 5px"
            ></i>
            {{ user.role !== '' ? user.role : 'Ordinary User' }}
          </span>
        </p>
              </div>
      <div class="role-selection mt-3 d-flex align-items-center justify-content-start">
        <label for="roleSelect" class="form-label">Change User Role:</label>
        <select id="roleSelect" class="form-select ms-2" [(ngModel)]="selectedRole">
          <option value="">Select Role</option>
          <option value="GeneralSpecAdmin">GeneralSpecAdmin</option>
          <option value="NetworkAdmin">NetworkAdmin</option>
          <option value="SuperAdmin">SuperAdmin</option>
        </select>
        <button class="button text-light ms-4" style="height: 35px;" (click)="updateUserRole()" [disabled]="adminRole === ''">Update role</button>
      </div>
    </div>
  </div>
  <button class="button text-light ms-4 mt-4" style="height: 35px; background-color: red;" (click)="deleteUser(user._id)" [disabled]="adminRole === ''">Delete User Account</button>






</div>

